body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 100%;
}

body a {
  color: #ff9628;
}

body ul {
  padding: 0;
}

body li {
  list-style-type: none;
}

body .row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0;
}

@media (min-width: 991px) {
  .max-width {
    max-width: 1300px;
  }
}

.container-fluid {
  background-color: #00456b;
  min-height: 100vh;
}

.container-fluid .title {
  color: #ff9628;
  font-size: 3em;
  font-weight: 100;
}

@media (min-width: 768px) and (max-width: 991px) {
  .container-fluid .title {
    font-size: 4em;
  }
}

@media (min-width: 991px) {
  .container-fluid .title {
    font-size: 4em;
  }
}

.container-fluid a:hover {
  text-decoration: none;
  color: #a5641f;
}

.container-fluid .subtitle {
  font-weight: 400;
  color: #fff;
  font-size: 1.5em;
}

.container-fluid .subtitle .fa-chevron-down {
  color: #fff;
  font-size: 1.5em;
}

.container-fluid .top-title {
  font-weight: 100;
}

.container-fluid .form input {
  outline: none;
  line-height: 2em;
}

.container-fluid .form input:invalid:not(:placeholder-shown) {
  border-color: #b22222;
}

.container-fluid .form input:valid:not(:placeholder-shown) {
  border-color: #008000;
}

.container-fluid .form ::-webkit-input-placeholder,
.container-fluid .form ::-moz-placeholder,
.container-fluid .form :-ms-input-placeholder {
  color: #808080;
  font-size: 1.1em;
}

.container-fluid .form input[type=checkbox] {
  height: 0.75em;
  width: 0.75em;
  -webkit-transform: scale(2, 2);
  transform: scale(2, 2);
}

.container-fluid .form label {
  color: #808080;
}

.container-fluid .login {
  color: #ff9628;
  font-size: 2.5em;
  font-weight: 400;
}

nav {
  background-color: #00456b;
  font-weight: 100;
}

nav .fa-shopping-cart {
  position: relative;
}

nav .fa-shopping-cart:hover ~ .circle {
  color: #a5641f;
}

nav .fa-shopping-cart,
nav .fa-user {
  font-size: 2em;
}

nav .header {
  font-size: 2.5em;
}

nav .header:hover {
  color: #a5641f;
}

nav .fa-user:hover {
  color: #a5641f;
}

nav a:hover {
  text-decoration: none;
  color: #a5641f;
}

nav .circle {
  border: 0.12em solid #ff9628;
  background-color: #00456b;
  color: #ff9628;
  font-family: "Roboto", sans-serif;
  font-size: 0.6em;
  font-weight: 400;
  width: 26px !important;
  height: 26px !important;
  position: absolute;
  top: -0.6em;
  right: 0;
  z-index: 1;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

@media (min-width: 991px) {
  nav .circle {
    top: -0.8em;
    right: -1.5em;
  }
}

.top {
  margin-top: 6em;
}

.pulse {
  font-size: 3em;
  font-weight: 200;
}

.model {
  font-weight: 200;
  font-size: 2em;
}

.price {
  font-weight: 200;
  font-size: 1.5em;
}

@media (min-width: 768px) and (max-width: 991px) {
  .price {
    font-size: 2em;
  }
}

@media (min-width: 991px) {
  .price {
    font-size: 4em;
  }
}

.feature {
  font-weight: 700;
}

@media (min-width: 768px) and (max-width: 991px) {
  .feature {
    font-size: 1.2em;
  }
}

.total {
  font-weight: 400;
  font-size: 1.5em;
}

@media (min-width: 768px) and (max-width: 991px) {
  .total {
    font-size: 2em;
  }
}

.description {
  font-size: 1.2em;
}

.fa-cart-plus {
  background-color: #00456b;
  color: #ff9628;
}

.imgWidth {
  width: 300px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .imgWidth {
    width: 600px;
  }
}

@media (min-width: 991px) {
  .imgWidth {
    width: 500px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .marginLg {
    margin-left: 8em !important;
    margin-right: 8em !important;
  }
}

@media (min-width: 991px) {
  .marginLg {
    margin-left: 8em !important;
    margin-right: 8em !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .priceMargin {
    margin-right: 5em;
  }
}

@media (min-width: 991px) {
  .priceMargin {
    margin-right: 5em;
  }
}

.addBtn {
  background-color: #00456b;
  color: #ff9628;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 0.7em 1em;
  display: none;
}

@media (min-width: 991px) {
  .addBtn {
    display: block;
    margin-left: 1em;
  }
}

.addBtn:active {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.addIcon {
  display: block;
}

@media (min-width: 991px) {
  .addIcon {
    display: none;
  }
}

.top {
  margin-top: 6em;
}

.fa-times-circle {
  position: absolute;
  right: 1em;
  z-index: 1;
}

.btn {
  background-color: #00456b;
  color: #ff9628;
}

.Dropdown-root {
  display: inline-block;
  margin-left: 4em;
}

@media (min-width: 991px) {
  .Dropdown-root {
    margin-left: 0;
  }
}

.Dropdown-control {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  width: 5em;
  height: 3em;
}

.Dropdown-placeholder {
  padding-left: 1.5em;
}

